name: Build and pack binaries

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get -y install vim zsh nmap masscan parallel jq htop duf iftop git golang libpcap-dev gcc make screen tmux
      - name: Set GO111MODULE
        run: export GO111MODULE=on

      - name: Install go tools
        run: |
          go install -v github.com/d3mondev/puredns/v2@latest
          go install -v github.com/ffuf/ffuf@latest
          go install -v github.com/hakluke/haktrails@latest
          go install -v github.com/jaeles-project/gospider@latest
          go install -v github.com/projectdiscovery/asnmap/cmd/asnmap@latest
          go install -v github.com/projectdiscovery/dnsx/cmd/dnsx@latest
          go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
          go install -v github.com/projectdiscovery/interactsh/cmd/interactsh-client@latest
          go install -v github.com/projectdiscovery/mapcidr/cmd/mapcidr@latest
          go install -v github.com/projectdiscovery/naabu/v2/cmd/naabu@latest
          go install -v github.com/projectdiscovery/notify/cmd/notify@latest
          go install -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei@latest
          go install -v github.com/projectdiscovery/proxify/cmd/proxify@latest
          go install -v github.com/projectdiscovery/shuffledns/cmd/shuffledns@latest
          go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
          go install -v github.com/projectdiscovery/tlsx/cmd/tlsx@latest
          go install -v github.com/projectdiscovery/uncover/cmd/uncover@latest
          go install -v github.com/pry0cc/tew@latest
          go install -v github.com/tomnomnom/anew@latest
      - name: Install massdns
        run: |
          git clone https://github.com/blechschmidt/massdns.git
          cd massdns
          make
          cp bin/massdns /usr/local/bin

      - name: Copy binaries to /usr/local/bin
        run: sudo cp ~/go/bin/* /usr/local/bin

      - name: Pack binaries into tar.gz
        run: tar -zcvf binaries.tar.gz /usr/local/bin/*

      - name: Upload binaries to artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: binaries.tar.gz
