name: EHole_Binaries_Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Test Builds
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: clone
        run: |
            git clone https://github.com/EdgeSecurityTeam/EHole.git EHole

      - name: Build and package binary
        run: |
          VERSION=$(git rev-parse --short HEAD)-${{ matrix.os }}-v1.0.0
          cd EHole
          go build -o ehole_${VERSION} .
          tar -czvf ehole_${VERSION}.tar.gz ehole_${VERSION}
        shell: bash

      - name: Push changes
        uses: actions/upload-artifact@v2
        with:
          name: ehole_release
          path: EHole/ehole_${VERSION}.tar.gz
